* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.btn-fcc {
    background-color: #006400;
    color: white;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

#stage {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/cherry%20blossoms.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0.8;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#stage-caption h6 {
    color: white;
}

#stage-caption h6 {
    margin-top: 1rem;
}

#stage-caption a {
    margin-top: 2rem;
    margin-left: 0.3rem;
}


span {
    margin: 0 0 0 0.5rem;
}

.carousel-item h3 {
    color: white;
}

.feature-content {
    padding: 8rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.back-dark {
    background: #262F36;
    color: white;
}

.back-dark h2,
.back-dark h5,
.back-dark h6 {
    color: white;
}

.back-dark .monitor-transparent {
    filter: invert(90%) brightness(95%) contrast(80%);
}
/* 
.back-dark .mobile-transparent {
    filter: invert(90%) brightness(95%) contrast(80%);
} */

.overlap-div {
    position: relative;
    top: 0;
    left: 0;
}


.monitor-transparent {
    position: relative;
    top: 0;
    left: 0;
}

.mobile-transparent {
    position: relative;
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
}

#movemandu-img {
    position: absolute;
    top: 3.5rem;
    left: 1.7rem;
    height: 80%;
    width: 43%;
}

#weather-img {
    position: absolute;
    top: 3.5rem;
    left: 1.7rem;
    height: 80%;
    width: 43%;
}

#flagship-img {
    position: absolute;
    top: 2rem;
    right: 0.1rem;
    height: 70%;
    width: 100%;
}

#budgetapp-img {
    position: absolute;
    top: 0.2rem;
    right: 1.4rem;
    height: 80%;
    width: 90%;
}

#forkify-img {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    height: 75%;
    width: 90%;
}

#quiz-img {
    position: absolute;
    width: 90%;
    height: 78%;
    left: 1.3rem;
    top: 0.5rem;
}

#thesisReact-img {
    position: absolute;
    width: 90%;
    height: 77%;
    left: 1.6rem;
    top: 1.2rem;
}

#thesisPhp-img {
    position: absolute;
    width: 90%;
    height: 77%;
    left: 1.6rem;
    top: 1rem;
}

#piggame-img {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 1.4rem;
    top: 0.3rem;
}

#portfolioWebsite-img {
    position: absolute;
    width: 90%;
    height: 77%;
    left: 1.5rem;
    top: 0.4rem;
}

#myself-img {
    position: absolute;
    width: 90%;
    height: 77%;
    left: 1.5rem;
    top: 1rem;
}

#CNN-img {
    position: absolute;
    width: 90%;
    height: 77%;
    left: 1.5rem;
    top: 1.1rem;
}

#travelsite-img {
    position: absolute;
    width: 90%;
    height: 77%;
    left: 1.5rem;
    top: 1.1rem;
}

#todo-img {
    position: absolute;
    width: 90%;
    height: 77%;
    left: 1.5rem;
    top: 1.1rem;
}

#block-img {
    position: absolute;
    width: 90%;
    height: 73%;
    left: 1.5rem;
    top: 1.4rem;
}

#balloons-img {
    position: absolute;
    width: 90%;
    height: 75%;
    left: 1.5rem;
    top: 1.1rem;
}

#calc-img {
    position: absolute;
    width: 90%;
    height: 75%;
    left: 1.5rem;
    top: 1.1rem;
}


.feature-alt {
    background: #f0f0f0;
}

#quote-section .feature-content {
    padding: 1rem 0 0 0;
}

#page-footer {
    background: #262F36;
    color: white;
    padding: 4rem 0;
    font-size: 0.8rem;
}

#page-footer li a {
    color: #6C6F73;
}

#page-footer h6 {
    color: #718FA9;
}

#play-store {
    margin-top: 5px; 
    background: linear-gradient(to right, rgba(0, 153, 136, 0.8), rgba(34, 119, 153, 0.8));
    border: none;
}



@media screen and (max-width: 48rem) {
    .feature-content {
        flex-wrap: wrap;
    }

    .feature-content .col-lg-5 {
        padding-top: 4rem;
    }

    #ph-div {
        margin-bottom: 0;
        margin-top: 0;
    }
}
